/* base css */

div#container {
    margin: 5px;
    position: relative;
    left: 200px;
    width: 800px;
}

div#header {
	border: 1px solid black;
	margin: 0px;
	text-align: center;
	height: 100px;
	width: 100%;
}

div#sidebar {
  /* background-color: #16b5ff; */
  border: solid 1px;
  margin: 0px;
  width: 25%;
  float: left;
}

div#content {
	margin-left: 25%;
	float: right;
	width: 75%;
}


h1 {
    color: green;
}
