{% extends "base.html" %}

{% block title %}Add Tossup - QEMS2{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}

<h3 class="page-header">Add a Tossup</h3>
<ul class="button-group even">
    <li><a class="button primary" href="/add_bonuses/{{ qset.id }}/ACF-style bonus">Switch to adding an ACF bonus</a></li>
    <li><a class="button primary" href="/add_bonuses/{{ qset.id }}/VHSL bonus">Switch to adding a VHSL bonus</a></li>
</ul>
{% autoescape off %}
    {% if message %}
    <div data-alert class="{{ message_class }}">
        {{ message }}{% if tossup_id %} <a href="/edit_tossup/{{ tossup_id }}">View your tossup.</a>{% endif %}
    </div>
    {% endif %}
{% endautoescape %}
<p>Answers should be wrapped with _underscores_.  Italicize titles by using ~tildes~.  Pronunciation guides use (parentheses).</p>
<p>Do not include ANSWER: in your answer line.</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% if not read_only %}
        <label>
            Tossup Text
            {{ form.tossup_text }}
        </label>
        {% if form.tossup_text.errors %}
            {{ form.tossup_text.errors }}
        {% endif %}
        <label>
            Tossup Answer
            {{ form.tossup_answer }}
        </label>
        {% if form.tossup_answer.errors %}
            {{ form.tossup_answer.errors }}
        {% endif %}
        <div class="row">
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="form.category.id_for_label">Category</span>
                    </div>
                    <div class="small-8 columns">
                        {{ form.category }}
                    </div>
                    {% if form.category.errors %}
                        {{ form.category.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="form.author.id_for_label">Author</span>
                    </div>
                    <div class="small-8 columns">
                        {{ form.author }}
                    </div>
                    {% if form.author.errors %}
                        {{ form.author.errors }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" style="display:none">
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="form.question_type.id_for_label">Question Type</span>
                    </div>
                    <div class="small-8 columns">
                        {{ form.question_type }}
                    </div>
                    {% if form.question_type.errors %}
                        {{ form.question_type.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="form.packet.id_for_label">Packet</span>
                    </div>
                    <div class="small-8 columns">
                        {{ form.packet }}
                    </div>
                    {% if form.packet.errors %}
                        {{ form.packet.errors }}
                    {% endif %}
                </div>
            </div>
        </div>
        <input type="submit" id="submit-tossup" value="Submit Tossup" class="button primary right" />
    {% endif %}
    
</form>

{% endblock %}