{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Add Packets - QEMS2{% endblock %}

{% block content %}

<h3 class="page-header">Add Packets</h3>
{% if message %}
    <p class="{{ message_class }}">{{ message }}</p>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert-box warning">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <p class="alert alert-info">Either enter a name for this packet...</p>
    <div class="form-group">
        {% if form.packet_name.errors %}
        <div class="alert alert-warning">
            {{ form.packet_name.errors }}
        </div>
        {% endif %}
        <input id="id_packet_name" maxlength="200" name="packet_name" type="text" class="form-control" placeholder="Packet Name" />
    </div>
    <p class="alert alert-info">...or enter a base name and the number of packets to create. For example, if the base name is "Round" and
    there are 10 packets, then packets having the names "Round 01, Round 02, ..., Round 10" will be created.</p>
    <div class="form-group">
        {% if form.name_base.errors %}
        <div class="alert alert-warning">
            {{ form.name_base.errors }}
        </div>
        {% endif %}
        <input id="id_name_base" maxlength="190" name="name_base" type="text" class="form-control" placeholder="Base Name"/>
    </div>
    <div class="form-group">
        {% if form.num_packets.errors %}
        <div class="alert alert-warning">
            {{ form.num_packets.errors }}
        </div>
        {% endif %}
        <input class="spinner" id="id_num_packets" name="num_packets" type="text" class="form-control" placeholder="Num"/>
    </div>
    {% if not read_only %}
    <button class="btn btn-lg btn-primary pull-right" type="submit">Create Packets</button>
    {% endif %}
</form>

{% endblock %}