{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 text-left">
    <ol class="breadcrumb">
        <li><a href="/edit_question_set/{{ qset.id }}">{{ qset }}</a></li>
    </ol>
    <h2 class="page-header">Add a Bonus</h2>
    {% autoescape off %}        
        {% if message %}
        <div class="{{ message_class }}">
            {{ message }} {% if bonus_id %} - or see your <a href="/edit_bonus/{{ bonus_id }}">submitted bonus</a> {% endif %}
        </div>
        {% endif %}
    {% endautoescape %}
    <p><a href="/add_tossups/{{ qset.id }}">Switch to adding a tossup</a></p>
    <p></p>
    <p>Answers should be wrapped with _underscores_.  Italicize titles by using ~tildes~.  Pronunciation guides use (parentheses).</p>
    <p>It is not necessary to include [10] labels to bonus parts or the word ANSWER: in answer lines.</p>
    <p>If you're writing a VHSL bonus, only fill in Part1 text and Part1 answer.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if not read_only %}
        <input type="submit" id="submit-bonus" value="Save"/>
        {% endif %}
    </form>
</div>

{% endblock %}
