{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Add Writer - QEMS2{% endblock %}

{% block content %}
{% load static %}

<h3 class="page-header">Add Writers to {{ qset.name }}</h3>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="small-8 small-centered columns">
            <table class="tablesorter table-striped table-hover">
                <thead>
                <tr>
                    <th>Available Editors</th>
                    <th>Add to Set?</th>
                </tr>
                </thead>
                <tbody>
                {% for writer in available_writers %}
                <tr>
                    <td>{{ writer }}</td>
                    <td><input type="checkbox" value="{{ writer.id }}" name="writers_to_add"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <input type="submit" value="Add Writers" class="button primary right" />
</form>

{% endblock %}
