{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Add Bonus - QEMS2{% endblock %}

{% block content %}

{% if question_type == "ACF-style bonus" %}
    <h3 class="page-header">Add an ACF Bonus</h3>
{% else %}
    <h3 class="page-header">Add a VHSL Bonus</h3>
{% endif %}
{% autoescape off %}
    {% if message %}
    <div data-alert class="{{ message_class }}">
        {{ message }}{% if bonus_id %} <a href="/edit_bonus/{{ bonus_id }}">View your bonus.</a> {% endif %}
        <a href="#" class="close">&times;</a>
    </div>
    {% endif %}
{% endautoescape %}
<ul class="button-group even">
    <li><a class="button primary" href="/add_tossups/{{ qset.id }}">Switch to adding a tossup</a></li>
    {% if question_type == "ACF-style bonus" %}
        <li><a class="button primary" href="/add_bonuses/{{ qset.id }}/VHSL bonus">Switch to adding a VHSL bonus</a></li>
    {% else %}
        <li><a class="button primary" href="/add_bonuses/{{ qset.id }}/ACF-style bonus">Switch to adding an ACF bonus</a></li>
    {% endif %}
</ul>
<p>Answers should be wrapped with _underscores_.  Italicize titles by using ~tildes~.  Pronunciation guides use (parentheses).</p>
<p>Do not include [10] labels with bonus parts or the word ANSWER: in answer lines.</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% if not read_only %}
        {% if question_type == "ACF-style bonus" %}
            <label>
                Leadin
                {{ form.leadin }}
            </label>
            {% if form.leadin.errors %}
                {{ form.leadin.errors }}
            {% endif %}
        {% endif %}
        <label>
            Part 1 Text
            {{ form.part1_text }}
            {% if form.part1_text.errors %}
                {{ form.part1_text.errors }}
            {% endif %}
        </label>
        <label>
            Part 1 Answer
            {{ form.part1_answer }}
            {% if form.part1_answer.errors %}
                {{ form.part1_answer.errors }}
            {% endif %}
        </label>

        {% if question_type == "ACF-style bonus" %}
            <label>
                Part 2 Text
                {{ form.part2_text }}
                {% if form.part2_text.errors %}
                    {{ form.part2_text.errors }}
                {% endif %}
            </label>
            <label>
                Part 2 Answer
                {{ form.part2_answer }}
                {% if form.part2_answer.errors %}
                    {{ form.part2_answer.errors }}
                {% endif %}
            </label>
            <label>
                Part 3 Text
                {{ form.part3_text }}
                {% if form.part3_text.errors %}
                    {{ form.part3_text.errors }}
                {% endif %}
            </label>
            <label>
                Part 3 Answer
                {{ form.part3_answer }}
                {% if form.part3_answer.errors %}
                    {{ form.part3_answer.errors }}
                {% endif %}
            </label> 
        {% endif %}
        <div class="row">
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="form.category.id_for_label">Category</span>
                    </div>
                    <div class="small-8 columns">
                        {{ form.category }}
                    </div>
                    {% if form.category.errors %}
                        {{ form.category.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="form.author.id_for_label">Author</span>
                    </div>
                    <div class="small-8 columns">
                        {{ form.author }}
                    </div>
                    {% if form.author.errors %}
                        {{ form.author.errors }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" style="display:none">
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="form.question_type.id_for_label">Question Type</span>
                    </div>
                    <div class="small-8 columns">
                        {{ form.question_type }}
                    </div>
                    {% if form.question_type.errors %}
                        {{ form.question_type.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="form.packet.id_for_label">Packet</span>
                    </div>
                    <div class="small-8 columns">
                        {{ form.packet }}
                    </div>
                    {% if form.packet.errors %}
                        {{ form.packet.errors }}
                    {% endif %}
                </div>
            </div>
        </div>
        <input type="submit" id="submit-bonus" value="Submit Bonus" class="button primary right" />
    {% endif %}
</form>

{% endblock %}
