{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Add Packets - QEMS2{% endblock %}

{% block content %}

<h3 class="page-header">Add Packets</h3>
{% if message %}
    <div class="{{ message_class }}">{{ message }}</div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert-box warning">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <div class="alert-box info">Either enter a name for this packet...</div>
    <div class="row collapse">
        <div class="small-3 columns">
            <span class="prefix text-left" for="{{ form.packet_name.id_for_label }}">Packet Name</span>
        </div>
        <div class="small-9 columns">
            {{ form.packet_name }}
        </div>
        {% if form.packet_name.errors %}
            {{ form.packet_name.errors }}
        {% endif %}
    </div>
    <div class="alert-box info">...or enter a base name and the number of packets to create. For example, if the base name is "Round" and
    there are 10 packets, then packets having the names "Round 01, Round 02, ..., Round 10" will be created.</div>
    <div class="row collapse">
        <div class="small-3 columns">
            <span class="prefix text-left" for="{{ form.name_base.id_for_label }}">Base Packet Name</span>
        </div>
        <div class="small-9 columns">
            {{ form.name_base }}
        </div>
        {% if form.name_base.errors %}
            {{ form.name_base.errors }}
        {% endif %}
    </div>
    <div class="row collapse">
        <div class="small-3 columns">
            <span class="prefix text-left" for="{{ form.num_packets.id_for_label }}">Number of Packets</span>
        </div>
        <div class="small-9 columns">
            {{ form.num_packets }}
        </div>
        {% if form.num_packets.errors %}
            {{ form.num_packets.errors }}
        {% endif %}
    </div>
    {% if not read_only %}
        <input type="submit" value="Create Packets" class="button primary right" />
    {% endif %}
</form>

{% endblock %}