{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 text-left">
    <h2 class="page-header">Add Packets</h2>
    {% if message %}
    <p class="{{ message_class }}">{{ message }}</p>
    {% endif %}
	<form action="" method="post" class="form-horizontal form-standard">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-warning">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <p class="alert alert-info">Enter a name for this packet:</p>
        <div class="form-group">
            {% if form.packet_name.errors %}
            <div class="alert alert-warning">
                {{ form.packet_name.errors }}
            </div>
            {% endif %}
            <label for="id_packet_name" class="col-sm-4 control-label">Packet name:</label>
            <div class="col-sm-8">
                <input id="id_packet_name" maxlength="200" name="packet_name" type="text" class="form-control"/>
            </div>
        </div>
        <p class="alert alert-info">OR enter a base name and the number of packets to create. For example, if the base name is "Round" and
        there are 10 packets, then packets having the name "Round 01, Round 02,..., Round 10" will be created.</p>
        <div class="form-group">
            {% if form.name_base.errors %}
            <div class="alert alert-warning">
                {{ form.name_base.errors }}
            </div>
            {% endif %}
            <label for="id_name_base" class="col-sm-4 control-label">Base name:</label>
            <div class="col-sm-8">
                <input id="id_name_base" maxlength="190" name="name_base" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            {% if form.num_packets.errors %}
            <div class="alert alert-warning">
                {{ form.num_packets.errors }}
            </div>
            {% endif %}
            <label for="id_num_packets" class="col-sm-4 control-label">Number of packets: </label>
            <div class="col-sm-8">
                <input class="spinner" id="id_num_packets" name="num_packets" type="text" class="form-control"/>
            </div>
        </div>
        {% if not read_only %}
        <button class="btn btn-lg btn-primary pull-right" type="submit">Create Packets</button>
        {% endif %}
    </form>
</div>

{% endblock %}