{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}
{% load static %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 text-left">
    <h2 class="page-header">Add Writers to {{ qset.name }}</h2>
	<form action="" method="post" role="form" class="form-horizontal form-standard">
        {% csrf_token %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Available writers</th>
                <th>Add to set?</th>
            </tr>
            </thead>
            <tbody>
            {% for writer in available_writers %}
            <tr>
                <td>{{ writer }}</td>
                <td><input type="checkbox" value="{{ writer.id }}" name="writers_to_add"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


        <button class="btn btn-lg btn-primary pull-right" type="submit">Submit</button>
    </form>

</div>
{% endblock %}
