<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css"/>
  	<link rel="stylesheet" href="{{ STATIC_URL }}css/menus.css" type="text/css"/>
  	<!--<link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css" type="text/css"/>-->
  	<link rel="stylesheet" href="{{ STATIC_URL }}css/text_styles.css" type="text/css"/>
  	<!--
  	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/blueprint/plugins/buttons/screen.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/blueprint/src/typography.css" type="text/css" media="screen">
   	-->
   	<link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/font-awesome.css" type="text/css" media="screen">
	<!--[if lt IE 8]>
  		<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
  	<link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.9.0.custom.css" type="text/css"/>
  	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
  	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.0.custom.js"></script>
  	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
  	<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/tiny_mce.js"></script>
  	<script type="text/javascript" src="{{ STATIC_URL }}js/sprintf.js"></script>
  	<script type="text/javascript" src="{{ STATIC_URL }}js/qsub.js"></script>
  	
  	<title>{% block title %}{% endblock %}</title>
</head>
<body>
 	<div class="container-fluid">
 		<div class="row-fluid">
 			<div class="span12" id="header">
 				<!--<h3>{{ player.user.username }}</h3>-->
  				{% block header %}{% endblock %}
  			</div>
  		</div>
  		<div class="row-fluid">
  			<div class="span2" id="sidebar">
  				{% include "sidebar.html" %}
  			</div>
  			<div class="span10">
  				{% block content %}{% endblock %}
  			</div>
  		</div>
  		{% block footer %}{% endblock %}
 	</div>
</body>
</html>
  
