<!DOCTYPE html>

<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/ui-lightness/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/tab.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tiny_mce/tiny_mce.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/qsub.js' %}"></script>
  	
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div class="container-fluid">
    {% block header %}{% endblock %}
    <div class="container-fluid">
        <div class="row">
            {% block sidebar %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block footer %}{% endblock %}

</div>
</body>
</html>
  
