<!DOCTYPE html>

<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">

    <script type="text/javascript" href="{% static 'jquery/src/jquery.js' %}"></script>
    <script type="text/javascript" href="{% static 'jquery-ui/jquery-ui.js' %}"></script>
    <script type="text/javascript" href="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  	
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
 	<div class="container-fluid">
 		<div class="row-fluid">
 			<div class="span12" id="header">
  				{% block header %}{% endblock %}
  			</div>
  		</div>
  		<div class="row-fluid">
  			<div class="span2" id="sidebar">
  				{% block sidebar %}{% endblock %}
  			</div>
  			<div class="span10">
  				{% block content %}{% endblock %}
  			</div>
  		</div>
  		{% block footer %}{% endblock %}
 	</div>
</body>
</html>
  
