{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% load static %}
{% load comments %}
{% load filters %}

{% block title %}{% if bonus %}{{ bonus.part1_answer|answer_no_formatting|short_preview }} - History - QEMS2{% else %}Bonus History - QEMS2{% endif %}{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 text-left">
    <ol class="breadcrumb">
        <li><a href="/edit_question_set/{{ qset.id }}">{{ qset }}</a></li>
        {% if packet %}
        <li><a href="/edit_packet/{{ packet.id }}">{{ packet }}</a></li>
        {% endif %}
        {% if bonus %}
        <li><a href="/edit_bonus/{{ bonus.id }}">{{ bonus }}</a></li>
        {% endif %}
    </ol>
    <h2 class="page-header">Bonus History</h2>
    {% autoescape off %}        
        {% if message %}
        <p class="{{ message_class }}">{{ message }}</p>
        {% endif %}
    {% endautoescape %}
    <div class="col-md-10">
        {% autoescape off %}
            {% if bonus %}
                <p><strong>Current Bonus:</strong></p>            
                {{ bonus|bonus_html_verbose }}
            {% endif %}
        {% endautoescape %}
        
        <p><strong>Previous Bonuses:</strong></p>

        {% autoescape off %}                            
            {% for bh in bonus_histories %}
                {{ bh|bonus_history_html }}
                {% if not read_only %}
                    <p><a href="/restore_bonus/" class="restore_bonus" value="{{ bh.id }}" qset="{{ qset.id }}">Restore to this version</a></p>
                    <br><br>
                {% endif %}
            {% endfor %}
            
            {% for th in tossup_histories %}
                {{ th|tossup_history_html }}
                {% if not read_only %}
                    <!-- In this case, need to switch this to be a tossup -->
                    <!-- TODO: Do this after doing the rest of the convert question work -->
                    <p><a href="/restore_tossup/" class="restore_tossup" value="{{ th.id }}" qset="{{ qset.id }}">Restore to this version</a></p>
                    <br><br>
                {% endif %}
            {% endfor %}
        {% endautoescape %}            
    </div>
</div>

{% include "dialog.html" %}

{% endblock %}
