{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% load static %}
{% load filters %}
{% load comments %}

{% block title %}{% if category %}{{ category }} - QEMS2{% else %}Category View - QEMS2{% endif %}{% endblock %}


{% block content %}

<h3 class="page-header">{{ category }}</h3>
<p>Overall Percent: {{ category_status|overall_percent}}<br />
Tossups Remaining: {{ category_status|tossups_remaining }}, Tossup Completion: {{ category_status.tu_in_cat|percent:category_status.tu_req }}<br />
Bonuses Remaining: {{ category_status|bonuses_remaining }}, Bonus Completion: {{ category_status.bs_in_cat|percent:category_status.bs_req }}</p>
<table class="tablesorter table-striped table-hover" id="category-tossup-table">
    <thead>
        <tr>
            <th>Author</th>
            <th>Preview</th>
            <th>Answer</th>
            <th>Question Type</th>
            <th>Category</th>
            <th>Packet</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Edited</th>
            <th>Comments</th>
            <th>Last Comment</th>
        </tr>
    </thead>
    <tbody>
    {% autoescape off %}
        {% for tossup in tossups %}
        <tr>
            <td>{{ tossup.author }}</td>
            <td><a href="/edit_tossup/{{ tossup.id }}">{{ tossup.tossup_text|safe|preview|question_html }}</a></td>
            <td><a href="/edit_tossup/{{ tossup.id }}">{{ tossup.tossup_answer|safe|preview|answer_html }}</a></td>
            <td>Tossup</td>
            <td>{{ tossup.category }}</td>
            <td>{% if tossup.packet %} {{ tossup.packet }} {% else %} Not in packet {% endif %}</td>
            <td>{{ tossup.created_date|date:"m/d/y h:i" }}</td>
            <td>{{ tossup.last_changed_date|date:"m/d/y h:i" }}</td>
            <td>{% if tossup.edited_date %} {{ tossup.edited_date|date:"m/d/y h:i" }} {% endif %}</td>
            <td>
            {% get_comment_list for tossup as comment_list %}
            {% for comment in comment_list %}
                {% if not comment.is_removed %}
                    {{comment.user}}: {{ comment.comment|preview|comment_html }}<br>
                {% endif %}
            {% endfor %}
            </td>
            <td>{{ tossup|tossup_last_comment_date|date:"m/d/y h:i" }}</td>
        </tr>
        {% endfor %}
    {% endautoescape %}
    </tbody>
</table>
<table class="tablesorter table-striped table-hover" id="category-bonus-table">
    <thead>
        <tr>
            <th>Author</th>
            <th>Preview</th>
            <th>Answer</th>
            <th>Question Type</th>
            <th>Category</th>
            <th>Packet</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Edited</th>
            <th>Comments</th>
            <th>Last Comment</th>
        </tr>
    </thead>
    <tbody>
    {% autoescape off %}
        {% for bonus in bonuses %}
        <tr>
            <td>{{ bonus.author }}</td>
            <td><a href="/edit_bonus/{{ bonus.id }}/">{{ bonus|bonus_leadin }}</a></td>
            <td><a href="/edit_bonus/{{ bonus.id }}/">{{ bonus|bonus_answers }}</a></td>
            <td>Bonus</td>
            <td>{{ bonus.category }}</td>
            <td>{% if bonus.packet %} {{ bonus.packet }} {% else %} Not in packet {% endif %}</td>
            <td>{{ bonus.created_date|date:"m/d/y h:i" }}</td>
            <td>{{ bonus.last_changed_date|date:"m/d/y h:i" }}</td>
            <td>{% if bonus.edited_date %} {{ bonus.edited_date|date:"m/d/y h:i" }} {% endif %}</td>
            <td>
            {% get_comment_list for bonus as comment_list %}
            {% for comment in comment_list %}
                {% if not comment.is_removed %}
                    {{comment.user}}: {{ comment.comment|preview|comment_html }}<br>
                {% endif %}
            {% endfor %}
            </td>
            <td>{{ bonus|bonus_last_comment_date|date:"m/d/y h:i" }}</td>
        </tr>
        {% endfor %}
    {% endautoescape %}
    </tbody>
</table>

{% endblock %}
