{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% load static %}
{% load filters %}
{% load comments %}

{% block title %}{% if writer %}{{ writer }} - QEMS2{% else %}Contributor View - QEMS2{% endif %}{% endblock %}


{% block content %}

<h3 class="page-header">{{ writer }}</h3>
<p>Tossups Written: {{ writer_status.tossups_written}}<br />
Bonuses Written: {{ writer_status.bonuses_written }}</p>
<ul class="button-group even">
    <li><a class="button primary open-all tossup bonus"><i class="fa fa-external-link"></i> Open All Questions</a></li>
    <li><a class="button primary open-all tossup"><i class="fa fa-external-link"></i> Open All Tossups</a></li>
    <li><a class="button primary open-all bonus"><i class="fa fa-external-link"></i> Open All Bonuses</a></li>
</ul>
<table class="tablesorter table-striped table-hover" id="category-tossup-table">
    <thead>
        <tr>
            <th>Author</th>
            <th>Preview</th>
            <th>Answer</th>
            <th>Question Type</th>
            <th>Category</th>
            <th>Packet</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Edited</th>
            <th>Proofread</th>
            <th>Comments</th>
            <th>Last Comment</th>
        </tr>
    </thead>
    <tbody>
    {% autoescape off %}
        {% for tossup in tossups %}
        <tr>
            <td>{{ tossup.author }}</td>
            <td><a href="/edit_tossup/{{ tossup.id }}">{{ tossup.tossup_text|safe|preview|question_html }}</a></td>
            <td><a href="/edit_tossup/{{ tossup.id }}">{{ tossup.tossup_answer|safe|preview|answer_html }}</a></td>
            <td>Tossup</td>
            <td>{{ tossup.category }}</td>
            <td>{% if tossup.packet %} {{ tossup.packet }} {% else %} Not in packet {% endif %}</td>
            <td>{{ tossup.created_date|to_short_datetime }}</td>
            <td>{{ tossup.last_changed_date|to_short_datetime }}</td>
            <td>{% if tossup.edited_date %} {{ tossup.edited_date|to_short_datetime }} {% endif %}</td>
            <td>{% if tossup.proofread_date %} {{ tossup.proofread_date|to_short_datetime }} {% endif %}</td>
            <td>
            {% get_comment_list for tossup as comment_list %}
            {% for comment in comment_list %}
                {% if not comment.is_removed %}
                    <strong>{{comment.user}}:</strong> {{ comment.comment|preview|comment_html }}<br>
                {% endif %}
            {% endfor %}
            </td>
            <td>{{ tossup|tossup_last_comment_date|to_short_datetime }}</td>
        </tr>
        {% endfor %}
    {% endautoescape %}
    </tbody>
</table>
<table class="tablesorter table-striped table-hover" id="category-bonus-table">
    <thead>
        <tr>
            <th>Author</th>
            <th>Preview</th>
            <th>Answer</th>
            <th>Question Type</th>
            <th>Category</th>
            <th>Packet</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Edited</th>
            <th>Proofread</th>
            <th>Comments</th>
            <th>Last Comment</th>
        </tr>
    </thead>
    <tbody>
    {% autoescape off %}
        {% for bonus in bonuses %}
        <tr>
            <td>{{ bonus.author }}</td>
            <td><a href="/edit_bonus/{{ bonus.id }}/">{{ bonus|bonus_leadin }}</a></td>
            <td><a href="/edit_bonus/{{ bonus.id }}/">{{ bonus|bonus_answers }}</a></td>
            <td>Bonus</td>
            <td>{{ bonus.category }}</td>
            <td>{% if bonus.packet %} {{ bonus.packet }} {% else %} Not in packet {% endif %}</td>
            <td>{{ bonus.created_date|to_short_datetime }}</td>
            <td>{{ bonus.last_changed_date|to_short_datetime }}</td>
            <td>{% if bonus.edited_date %} {{ bonus.edited_date|to_short_datetime }} {% endif %}</td>
            <td>{% if bonus.proofread_date %} {{ bonus.proofread_date|to_short_datetime }} {% endif %}</td>
            <td>
            {% get_comment_list for bonus as comment_list %}
            {% for comment in comment_list %}
                {% if not comment.is_removed %}
                    <strong>{{comment.user}}:</strong> {{ comment.comment|preview|comment_html }}<br>
                {% endif %}
            {% endfor %}
            </td>
            <td>{{ bonus|bonus_last_comment_date|to_short_datetime }}</td>
        </tr>
        {% endfor %}
    {% endautoescape %}
    </tbody>
</table>

{% endblock %}
