{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Create Question Set- QEMS2{% endblock %}

{% block content %}
{% load static %}

<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
    <h3 class="page-header">Create Question Set</h3>
    <form action="" method="post" role="form" class="form-horizontal form-standard">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.errors }}
            <input class="form-control" id="id_name" name="name" maxlength="200" type="text" placeholder="Name">
        </div>
        <div class="form-group">
            {{ form.date.errors }}
            <input class="form-control" id="id_date" name="date" maxlength="200" type="datetime" placeholder="Due Date (mm/dd/yyyy)">
        </div>
        <div class="form-group">
            {{ form.num_packets.errors }}
            <input class="form-control" id="id_num_packets" name="num_packets" type="text" placeholder="Number of Packets">
        </div>       
        <div class="form-group">
            {{ form.distribution.errors }}
            <select class="form-control" id="id_distribution" name="distribution" placeholder="Distribution">
                <option selected="true" style="display:none;">Distribution</option>
                {% for dist in distributions %}
                    <option value="{{ dist.id }}">{{ dist }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            {{ form.max_acf_tossup_length.errors }}
            <input class="form-control" id="id_max_acf_tossup_length" name="max_acf_tossup_length" type="text" placeholder="ACF Tossup Character Limit">
        </div>            
        <div class="form-group">
            {{ form.max_acf_bonus_length.errors }}
            <input class="form-control" id="id_max_acf_bonus_length" name="max_acf_bonus_length" type="text" placeholder="ACF Bonus Total Character Limit">
        </div>            
        <div class="form-group">
            {{ form.max_vhsl_bonus_length.errors }}
            <input class="form-control" id="id_max_vhsl_bonus_length" name="max_vhsl_bonus_length" type="text" placeholder="VHSL Bonus Total Character Limit">
        </div>                    
        <button class="btn btn-primary pull-right" type="submit">Create Question Set</button>
    </form>
</div>
{% endblock %}
