{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Create Question Set- QEMS2{% endblock %}

{% block content %}
{% load static %}

<h3 class="page-header">Create Question Set</h3>
<form action="" method="post" role="form" class="form-horizontal form-standard">
    {% csrf_token %}

    <div class="row">
    {% for field in form %}
        {% if field.html_name == "name" or field.html_name == "date" %}
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="{{ field.id_for_label }}">{% if field.html_name == "name" %}Set Name{% else %}Due Date{% endif %}</span>
                    </div>
                    <div class="small-8 columns">
                        {{ field }}
                    </div>
                </div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="row">
    {% for field in form %}
        {% if field.html_name == "num_packets" or field.html_name == "distribution" %}
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="{{ field.id_for_label }}">{% if field.html_name == "num_packets" %}Number of Packets{% else %}Distribution{% endif %}</span>
                    </div>
                    <div class="small-8 columns">
                        {{ field }}
                    </div>
                </div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="form-group">
        {{ form.max_acf_tossup_length.errors }}
        <input class="form-control" id="id_max_acf_tossup_length" name="max_acf_tossup_length" type="text" placeholder="ACF Tossup Character Limit">
    </div>
    <div class="form-group">
        {{ form.max_acf_bonus_length.errors }}
        <input class="form-control" id="id_max_acf_bonus_length" name="max_acf_bonus_length" type="text" placeholder="ACF Bonus Total Character Limit">
    </div>
    <div class="form-group">
        {{ form.max_vhsl_bonus_length.errors }}
        <input class="form-control" id="id_max_vhsl_bonus_length" name="max_vhsl_bonus_length" type="text" placeholder="VHSL Bonus Total Character Limit">
    </div>
    <input type="submit" value="Create Question Set" class="button primary right" />
</form>

{% endblock %}
