{% extends "base.html" %}

{% block title %}Distributions - QEMS2{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}

<h3 class="page-header">Available Distributions</h3>
<ul class="button-group even">
    <li><a href="/edit_distribution/" class="button primary"><i class="fa fa-plus-circle"></i> Add Distribution</a></li>
</ul>
<table class="tablesorter table-striped table-hover" id="distributions-table">
    <thead>
        <th>Distribution Name</th>
    </thead>
    <tbody>
        {% if not dists %}
            <td>No distributions available. Create one!</td>
        {% else %}
        {% for dist in dists %}
        <tr>
            <td>
                <a href="/edit_distribution/{{ dist.id }}/">
                {{ dist.name }}
                </a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

{% endblock %}