{% extends "base.html" %}
{% load filters %}

{% block header %}
<div id="header">
	<h1>team editing</h1>
</div>
{% endblock %}

{% block content %}
{% include "sidebar.html" %}

<div id="content">
	{% include "packetnav.html" %}
	<table class="packet-info-table">
		<tr>
			<th>Category</th>
			<th>tossups required</th>
			<th>tossups written</th>
			<th>bonuses required</th>
			<th>bonuses written</th>
		</tr>
		{% for cat, req in distribution.items %}
			<tr>
				<td>{{ cat_names|lookup:cat }}</td>
				<td>{{ req.0 }}</td>
				<td>{{ tu_cat_table|lookup:cat }}</td>
				<td>{{ req.1 }}</td>
				<td>{{ b_cat_table|lookup:cat }}</td>
			</tr>
		{% endfor %}
	</table>
	<input type="hidden" value="{{ packet.id }}" id="packet_id">
</div>

{% endblock %}
