{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% load comments %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 text-left">
    <ol class="breadcrumb">
        <li><a href="/edit_question_set/{{ qset.id }}">{{ qset }}</a></li>
        {% if packet %}
        <li><a href="/edit_packet/{{ packet.id }}">{{ packet }}</a></li>
        {% endif %}
        {% if bonus %}
        <li><a href="/edit_bonus/{{ bonus.id }}">{{ bonus }}</a></li>
        {% endif %}
    </ol>
    <h2 class="page-header">Edit Bonus</h2>
    {% if message %}
    <p class="{{ message_class }}">{{ message }}</p>
    {% endif %}
    <div id="toolbar" class="ql-toolbar-container quill-wrapper">
        <button class="ql-bold"><b>B</b></button>
        <button class="ql-italic"><i>I</i></button>
        <button class="ql-underline"><u>U</u></button>
    </div>
	<form action="" method="post">
        {% csrf_token %}
        {% if not read_only %}
        {% if form %}
        <strong>Leadin:</strong>
        <div class="quill-wrapper" style="height: 75px;">
            <div id="bonus-leadin" class="bonus-text">
                <div>{{ bonus.leadin|safe }}</div>
            </div>
        </div>
        <strong>Part 1:</strong>
        <div class="quill-wrapper" style="height: 75px;">
            <div id="part-1-text" class="part-text">
                <div>{{ bonus.part1_text|safe }}</div>
            </div>
        </div>
        <strong>Answer 1:</strong>
        <div class="quill-wrapper" style="height: 50px">
            <div id="part-1-answer" class="answer-text">
                <div>{{ bonus.part1_answer|safe }}</div>
            </div>
        </div>
        <strong>Part 2:</strong>
        <div class="quill-wrapper" style="height: 75px">
            <div id="part-2-text" class="part-text">
                <div>{{ bonus.part2_text|safe }}</div>
            </div>
        </div>
        <strong>Answer 2:</strong>
        <div class="quill-wrapper" style="height: 50px">
            <div id="part-2-answer" class="answer-text">
                <div>{{ bonus.part2_answer|safe }}</div>
            </div>
        </div>
        <strong>Part 3:</strong>
        <div class="quill-wrapper" style="height: 75px">
            <div id="part-3-text" class="part-text">
                <div>{{ bonus.part3_text|safe }}</div>
            </div>
        </div>
        <strong>Answer 3:</strong>
        <div class="quill-wrapper" style="height: 50px">
            <div id="part-3-answer" class="answer-text">
                <div>{{ bonus.part3_answer|safe }}</div>
            </div>
        </div>
        <br>
        <p><strong>Bonus Author:</strong> {{ bonus.author }}</p>
        {{ form.as_p }}
        {% endif %}
        <input type="submit" id="submit-bonus" value="Save"/>
        {% else %}
        {% if bonus %}
        <p>{{ bonus.leadin | safe }}</p>
        <p>[10] {{ bonus.part1_text | safe }}</p>
        <p>ANSWER: {{ bonus.part1_answer | safe }}</p>
        <p>[10] {{ bonus.part2_text | safe }}</p>
        <p>ANSWER: {{ bonus.part2_answer | safe }}</p>
        <p>[10] {{ bonus.part3_text | safe }}</p>
        <p>ANSWER: {{ bonus.part3_answer | safe }}</p>
        {% endif %}
        {% endif %}
    </form>
    {% if bonus %}
    <div class="alert alert-info" style="text-align: center"><strong>Comments</strong></div>
    <div class="comments col-md-6">
        {% render_comment_list for bonus %}
        {% get_comment_form for bonus as cform %}
        <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ cform.comment.label_tag }}
            <textarea cols="40" rows="10" id="{{ cform.comment.id_for_label }}"
                      name="{{ cform.comment.html_name }}" class="form-control">
            </textarea>
            {{ cform.honeypot }}
            {{ cform.content_type }}
            {{ cform.object_pk }}
            {{ cform.timestamp }}
            {{ cform.security_hash }}
            <input type="submit" name="submit" value="Post" class="btn btn-primary">
            <!--<input type="submit" name="preview" value="Preview" class="btn btn-primary">-->
            <input type="hidden" name="next" value="/edit_bonus/{{ bonus.id }}/">
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
