{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% load comments %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 text-left">
    <ol class="breadcrumb">
        <li><a href="/edit_question_set/{{ qset.id }}">{{ qset }}</a></li>
        {% if packet %}
        <li><a href="/edit_packet/{{ packet.id }}">{{ packet }}</a></li>
        {% endif %}
        {% if tossup %}
        <li><a href="/edit_tossup/{{ tossup.id }}">{{ tossup }}</a></li>
        {% endif %}
    </ol>
    <h2 class="page-header">Edit Tossup</h2>
    {% if message %}
    <p class="{{ message_class }}">{{ message }}</p>
    {% endif %}
	<form action="" method="post">
        {% csrf_token %}
        {% if not read_only %}
        {% if form %}
        {{ form.as_p }}
        {% endif %}
        <input type="submit" value="Save"/>
        {% else %}
        {% if tossup %}
        <p>{{ tossup.tossup_text|safe }}</p>
        <p>ANSWER: {{ tossup.tossup_answer|safe }}</p>
        {% endif %}
        {% endif %}
    </form>
    {% if tossup %}
    <div class="alert alert-info" style="text-align: center"><strong>Comments</strong></div>
    <div class="comments col-md-6">
        {% render_comment_list for tossup %}
        {% get_comment_form for tossup as cform %}
        <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ cform.comment.label_tag }}
            <textarea cols="40" rows="10" id="{{ cform.comment.id_for_label }}"
                      name="{{ cform.comment.html_name }}" class="form-control">
            </textarea>
            {{ cform.honeypot }}
            {{ cform.content_type }}
            {{ cform.object_pk }}
            {{ cform.timestamp }}
            {{ cform.security_hash }}
            <input type="submit" name="submit" value="Post" class="btn btn-primary">
            <!--<input type="submit" name="preview" value="Preview" class="btn btn-primary">-->
            <input type="hidden" name="next" value="/edit_tossup/{{ tossup.id }}/">
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}