{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}
{% load static %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 text-left">
    <h2 class="page-header">Question Set Management</h2>
    <div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#qset-info" data-toggle="tab">Question set info</a>
			</li>
			<li>
				<a href="#editors" data-toggle="tab">Editor assignments</a>
			</li>
            <li>
                <a href="#questions" data-toggle="tab">Questions</a>
            </li>
            <li>
				<a href="#packets" data-toggle="tab">Packets</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="qset-info">
				<div class="alert alert-info" style="text-align: center;"><strong>Set information</strong></div>
				<form action="" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					{% if not read_only %}
					<input type="submit" value="Submit changes"/>
					{% endif %}
				</form>
				{% if message %}
				<p>
					<div class="alert {{ message_class }}">
						{{ message }}
					</div>
				</p>
				{% endif %}
			</div>
			<div class="tab-pane" id="editors">
				{% if not read_only %}
				<table class="table table-striped table-hover">
					<caption class="alert alert-info">
						<strong>Current set editors</strong>
					</caption>
					<thead>
						<tr>
							<th>Editor name</th>
							<th>Editor username</th>
							<th>Categories</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for editor in editors %}
						<tr>
							<td>{{ editor.user.first_name }} {{ editor.user.last_name }}</td>
							<td>{{ editor.user.username }}</td>
							<td></td>
							<td><a href="/roleassign/{{ editor.id }}/{{ tour.id}}/" rel="tooltip" title="Assign categories">
								<i class="fa fa-edit"></i>
								</a><a href="/removeeditor/{{ tour.id }}/{{ editor.id }}/" rel="tooltip" title="Remove editor">
									<i class="fa fa-minus-circle"></i> </a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

                <table class="table table-striped table-hover">
					<caption class="alert alert-info">
						<strong>Current set writers</strong>
					</caption>
					<thead>
						<tr>
							<th>Writer name</th>
							<th>Writer username</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for writer in writers %}
						<tr>
							<td>{{ writer.user.first_name }} {{ writer.user.last_name }}</td>
							<td>{{ writer.user.username }}</td>
							<td><i class="fa fa-edit"></i>
								</a><a href="/removeeditor/{{ tour.id }}/{{ editor.id }}/" rel="tooltip" title="Remove writer">
									<i class="fa fa-minus-circle"></i> </a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

                <a href="/add_editor/{{ qset.id }}" class="btn btn-primary" title="Add set editor" id="btn-add-editor">
					<i class="fa fa-plus-circle"></i> Add set editor
				</a>
                <a href="/add_writer/{{ qset.id }}" class="btn btn-primary" title="Add set writer">
					<i class="fa fa-plus-circle"></i> Add set writer
				</a>
				{% else %}
				<div class="alert alert-info">
					You are not authorized to view this information
				</div>

				{% endif %}
			</div>
            <div class="tab-pane" id="questions">
                <a href="/add_tossups/{{ qset.id }}" class="btn btn-primary" title="Add tossups">
                    <i class="fa fa-plus-circle"></i> Add tossups
                </a>
                <a href="/add_bonuses/{{ qset.id }}" class="btn btn-primary" title="Add bonuses">
                    <i class="fa fa-plus-circle"></i> Add bonuses
                </a>
            </div>
			<div class="tab-pane" id="packets">
				<table class="table table-striped table-hover">
					<caption class="alert alert-info">
						<strong>
							Active packets
						</strong>
					</caption>
					<thead>
						<tr>
							<th>Team name</th>
							<th>Completion status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for packet in packets %}
						<td>
							{% if not read_only %}
							<a href="/packetedit/{{ packet.id }}">{{ packet.team.team_name }}</a>
    						{% else %}
    						{{ packet.team.team_name}}
    						{% endif %}
						</td>
						<td>
							N/A
						</td>
						<td>
							N/A
						</td>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<input type="hidden" id="tour_id" value={{ tour.id }} />
{% endblock %}
