{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Edit Distribution - QEMS2{% endblock %}

{% block content %}
{% load static %}

<h3 class="page-header">Question Sets</h3>
{% if message %}
    <div class="{{ message_class }}">{{ message }}</div>
{% endif %}
{% if formset.total_error_count > 0 %}
    <div class="alert-box alert">All question numbers are required and are per packet.</div>
{% else %}
    <div class="alert-box info">All question numbers are required and are per packet.</div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row collapse">
        <div class="small-3 columns">
            <span class="prefix text-left" for="{{ form.name.id_for_label }}">Distribution Name</span>
        </div>
        <div class="small-9 columns">
            {{ form.name }}
        </div>
        {% if form.name.errors %}
            {{ form.name.errors }}
        {% endif %}
    </div>
    <table class="table-striped table-hover" id="distribution-table">
        <thead>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Minimum Tossups</th>
        <th>Minimum Bonuses</th>
        <th>Maximum Tossups</th>
        <th>Maximum Bonuses</th>
        {% if formset.can_delete %}
            <th>Delete?</th>
        {% endif %}
        </thead>
        <tbody>
        {% for form in formset %}
        <tr>
            {{ form.entry_id }}
            <td>{{ form.category }}</td>
            <td>{{ form.subcategory }}</td>
            <td>{{ form.min_tossups }}</td>
            <td>{{ form.min_bonuses }}</td>
            <td>{{ form.max_tossups }}</td>
            <td>{{ form.max_bonuses }}</td>
            {% if formset.can_delete %}
                <td>{{ form.DELETE }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ formset.management_form }}
    <div class="row">
        <input type="submit" value="Add Row" name="add_row" class="button secondary left" />
        <input type="submit" value="Submit Changes" class="button primary right" />
    </div>
</form>

{% endblock %}
