{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Edit Packet - QEMS2{% endblock %}

{% block content %}
{% load static %}
{% load filters %}
{% load comments %}

<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
    <h3 class="page-header">Editing Packet: {{ packet.packet_name }}</h3>
    {% if message %}
    <p class="{{ message_class }}">{{ message }}</p>
    {% endif %}

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#status" data-toggle="tab">Packet Status</a>
            </li>
            <li>
                <a href="#tossups" data-toggle="tab">Tossups</a>
            </li>
            <li>
                <a href="#bonuses" data-toggle="tab">Bonuses</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="status">
                <table class="table table-striped table-hover">
                    <caption class="alert alert-info text-center">
                        <strong>Packet Completion Status</strong>
                    </caption>
                    <thead>
                    <tr>
                        <th>Tossup category</th>
                        <th>Tossups required</th>
                        <th>Tossups written</th>
                        <th>Percent complete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cat, entry in tossup_status.items %}
                    <tr>
                        <td>
                            {{ cat }}
                        </td>
                        <td>
                            {{ entry.tu_req }}
                        </td>
                        <td>
                            {{ entry.tu_in_cat }}
                        </td>
                        <td>
                            {{ entry.tu_in_cat|percent:entry.tu_req }}
                            {{ entry.tu_in_cat|check_mark_if_100_pct:entry.tu_req }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <thead>
                    <tr>
                        <th>Bonus Category</th>
                        <th>Bonuses required</th>
                        <th>Bonuses written</th>
                        <th>Percent complete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cat, entry in bonus_status.items %}
                    <tr>
                        <td>
                            {{ cat }}
                        </td>
                        <td>
                            {{ entry.bs_req }}
                        </td>
                        <td>
                            {{ entry.bs_in_cat }}
                        </td>
                        <td>
                            {{ entry.bs_in_cat|percent:entry.bs_req }}
                            {{ entry.bs_in_cat|check_mark_if_100_pct:entry.bs_req }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="alert alert-info" style="text-align: center"><strong>Comments</strong></div>
                <div class="comments col-md-6">
                    {% render_comment_list for packet %}
                    {% get_comment_form for packet as cform %}
                    <form action="{% comment_form_target %}" method="POST">
                        {% csrf_token %}
                        {{ cform.comment.label_tag }}
                        <textarea cols="40" rows="10" id="{{ cform.comment.id_for_label }}"
                                  name="{{ cform.comment.html_name }}" class="form-control">
                        </textarea>
                        {{ cform.honeypot }}
                        {{ cform.content_type }}
                        {{ cform.object_pk }}
                        {{ cform.timestamp }}
                        {{ cform.security_hash }}
                        <input type="submit" name="submit" value="Post" class="btn btn-primary">
                        <!--<input type="submit" name="preview" value="Preview" class="btn btn-primary">-->
                        <input type="hidden" name="next" value="/edit_packet/{{ packet.id }}/">
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="tossups">
                <a href="/add_tossups/{{ qset.id }}/{{ packet.id }}" class="btn btn-primary" title="Add new tossups">
                    <i class="fa fa-plus-circle"></i> Add new tossups
                </a>
                <button class="btn btn-primary" title="Add existing tossups" id="add-existing-tossups">
                    <i class="fa fa-plus-circle"></i> Add existing tossups
                </button>
                <table class="table table-striped table-hover" id="tossup-table">
                    <caption class="alert alert-info">
                        <strong>
                            Current Tossups
                        </strong>
                    </caption>
                    <thead>
                    <tr>
                        <th>Order in Packet</th>
                        <th>Author</th>
                        <th>Tossup Text</th>
                        <th>Answer</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="tossup_table_body">
                    {% for tossup in tossups %}
                    <tr class="tossup-row" id="tossup-order-{{ tossup.id }}" value="{% if tossup.question_number %} {{ tossup.question_number }} {% endif %}" tossup-id="{{ tossup.id }}">
                        <td>{% if tossup.question_number %} {{ tossup.question_number }} {% endif %}</td>
                        <td>{{ tossup.author }}</td>
                        <td>{{ tossup.tossup_text|preview }}</td>
                        <td>{{ tossup.tossup_answer|preview }}</td>
                        <td>{{ tossup.category }}</td>

                        <td>
                            <a href="/edit_tossup/{{ tossup.id }}" rel="tooltip" title="Edit tossup">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="/delete_tossup/{{ tossup.id }}" rel="tooltip" title="Delete tossup"
                               class="delete_tossup"
                               value="{{ tossup.id }}">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="bonuses">
                <a href="/add_bonuses/{{ qset.id }}/{{ packet.id }}" class="btn btn-primary" title="Add bonuses">
                    <i class="fa fa-plus-circle"></i> Add new bonuses
                </a>
                <button class="btn btn-primary" title="Add existing bonuses" id="add-existing-bonuses">
                    <i class="fa fa-plus-circle"></i> Add existing bonuses
                </button>
                <table class="table table-striped table-hover" id="bonus-table">
                    <caption class="alert alert-info">
                        <strong>
                            Current Bonuses
                        </strong>
                    </caption>
                    <thead>
                    <tr>
                        <th>Order in Packet</th>
                        <th>Author</th>
                        <th>Leadin</th>
                        <th>Answers</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="bonus_table_body">
                    {% for bonus in bonuses %}
                    <tr class="bonus_row" id="bonus-order-{{ bonus.id }}" value="{% if bonus.question_number %} {{ bonus.question_number}} {% endif %}" bonus-id="{{ bonus.id }}">
                        <td>{% if bonus.question_number %} {{ bonus.question_number }} {% endif %}</td>
                        <td>{{ bonus.author }}</td>
                        <td>{{ bonus.leadin|preview }}</td>
                        <td>{{ bonus|bonus_answers }}</td>
                        <td>{{ bonus.category }}</td>
                        <td></td>
                        <td>
                            <a href="/edit_bonus/{{ bonus.id }}" rel="tooltip" title="Edit tossup">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="/delete_bonus/{{ bonus.id }}" rel="tooltip" title="Delete bonus"
                               class="delete_bonus"
                               value="{{ bonus.id }}">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="tossup-dialog" title="Add tossups to set">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td>Tossup Answer</td>
            <td>Tossup Category</td>
            <td>Add to Packet?</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div id="bonus-dialog" title="Add bonuses to set">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td>Bonus Leadin</td>
            <td>Bonus Category</td>
            <td>Add to Packet?</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% include "dialog.html" %}

<input type="hidden" id="qset-id" value="{{ qset.id }}">
<input type="hidden" id="packet-id" value="{{ packet.id }}">
<script type="text/javascript" src="{% static 'js/packet_management.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/jquery.tablednd.js' %}"></script>-->

{% endblock %}
