{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% load static %}
{% load comments %}
{% load filters %}

{% block title %}{% if bonus %}{{ bonus.part1_answer|answer_no_formatting|short_preview }}{% else %}Edit Bonus{% endif %} - QEMS2{% endblock %}

{% block content %}
<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
    <h3 class="page-header">Edit Bonus</h3>
    <div class="col-xs-12 col-md-12">
        {% autoescape off %}
            {% if message %}
                <p class="{{ message_class }}">{{ message }}</p>
            {% endif %}
            {% if bonus %}
                {{ bonus|bonus_html_verbose }}
                <p><strong>Written by:</strong> {{ bonus.author }} on {{ bonus.created_date }}<br>
                <strong>Last modified:</strong> {{ bonus.last_changed_date }}<br>
                {% if bonus.edited %}
                    <strong>Edited by:</strong> {{ bonus.editor }} on {{ bonus.edited_date }}
                {% endif %}
                </p>                
            {% endif %}
        {% endautoescape %}
    </div>

    <div class="col-xs-12 col-md-12">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% if not read_only %}
                {% if question_type == "ACF-style bonus" %}
                    <div class="fieldWrapper">
                        {{ form.leadin.errors }}
                        <p><label for="{{ form.leadin.id_for_label }}">Leadin:</label></p>
                        <p>{{ form.leadin }}</p>
                    </div>
                {% endif %}

                <div class="fieldWrapper">
                    {{ form.part1_text.errors }}
                    <p><label for="{{ form.part1_text.id_for_label }}">Part 1 text:</label></p>
                    <p>{{ form.part1_text }}</p>
                </div>
                <div class="fieldWrapper">
                    {{ form.part1_answer.errors }}
                    <p><label for="{{ form.part1_answer.id_for_label }}">Part 1 answer:</label></p>
                    <p>{{ form.part1_answer }}</p>
                </div>

                {% if question_type == "ACF-style bonus" %}
                    <div class="fieldWrapper">
                        {{ form.part2_text.errors }}
                        <p><label for="{{ form.part2_text.id_for_label }}">Part 2 text:</label></p>
                        <p>{{ form.part2_text }}</p>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.part2_answer.errors }}
                        <p><label for="{{ form.part2_answer.id_for_label }}">Part 2 answer:</label></p>
                        <p>{{ form.part2_answer }}</p>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.part3_text.errors }}
                        <p><label for="{{ form.part3_text.id_for_label }}">Part 3 text:</label></p>
                        <p>{{ form.part3_text }}</p>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.part3_answer.errors }}
                        <p><label for="{{ form.part3_answer.id_for_label }}">Part 3 answer:</label></p>
                        <p>{{ form.part3_answer }}</p>
                    </div>
                {% endif %}

                <div class="fieldWrapper">
                    {{ form.category.errors }}
                    <label for="{{ form.category.id_for_label }}">Category:</label>
                    {{ form.category }}
                </div>

                <div class="fieldWrapper">
                    {{ form.author.errors }}
                    <label for="{{ form.author.id_for_label }}">Author:</label>
                    {{ form.author }}
                </div>

                <div class="fieldWrapper">
                    {{ form.packet.errors }}
                    <label for="{{ form.packet.id_for_label }}">Packet:</label>
                    {{ form.packet }}
                </div>

                {% if role == "editor" %}
                    <div class="fieldWrapper">
                        {{ form.locked.errors }}
                        <label for="{{ form.locked.id_for_label }}">Locked:</label>
                        {{ form.locked }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.edited.errors }}
                        <label for="{{ form.edited.id_for_label }}">Edited:</label>
                        {{ form.edited }}
                    </div>
                {% endif %}

                <div class="fieldWrapper">
                    {{ form.question_type.errors }}
                    {{ form.question_type }}
                </div>

                <input type="submit" id="submit-bonus" value="Save"/>
            {% endif %}
        </form>
        {% if bonus %}
        <div class="btn-group btn-group-justified">
            <a href="/move_bonus/{{ qset.id }}/{{ bonus.id }}" class="btn btn-primary">Move bonus to another set</a>
            <a href="/bonus_history/{{ bonus.id }}" class="btn btn-primary">View bonus history</a>
            <a href="/delete_bonus/{{ bonus.id }}" class="btn btn-primary delete_bonus" value="{{ bonus.id }}" qset-id="{{ qset.id }}">Delete question</a>                        
        </div>
        {% endif %}
    </div>

    {% if bonus %}
    <div class="col-xs-12 col-md-12 alert alert-info text-center"><strong>Comments</strong></div>
    <div class="comments col-xs-6 col-md-6">
        {% autoescape off %}
            {% get_comment_list for bonus as comment_list %}
            {% for comment in comment_list %}
                {% if not comment.is_removed %}
                    <strong>{{comment.user}}:</strong> {{ comment.comment|safe|comment_html }} ({{ comment.submit_date }})<br><br>
                    {% if role == "editor" %}
                        <a href="/delete_comment/{{ comment.id }}" class="delete_comment" value="{{ comment.id }}" qset="{{ qset.id }}">Delete Comment</a><br><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endautoescape %}

        {% get_comment_form for bonus as cform %}
        <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ cform.comment.label_tag }}
            <textarea cols="40" rows="10" id="{{ cform.comment.id_for_label }}"
                      name="{{ cform.comment.html_name }}" class="form-control"></textarea>
            {{ cform.honeypot }}
            {{ cform.content_type }}
            {{ cform.object_pk }}
            {{ cform.timestamp }}
            {{ cform.security_hash }}
            <input type="submit" name="submit" value="Post" class="btn btn-primary">
            <input type="hidden" name="next" value="/edit_bonus/{{ bonus.id }}/">
        </form>
    </div>
    {% endif %}
</div>

{% include "dialog.html" %}

{% endblock %}
