{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% load comments %}
{% load filters %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 text-left">
    <ol class="breadcrumb">
        <li><a href="/edit_question_set/{{ qset.id }}">{{ qset }}</a></li>
        {% if packet %}
        <li><a href="/edit_packet/{{ packet.id }}">{{ packet }}</a></li>
        {% endif %}
        {% if tossup %}
        <li><a href="/edit_tossup/{{ tossup.id }}">{{ tossup }}</a></li>
        {% endif %}
    </ol>
    <h2 class="page-header">Edit Tossup</h2>
    {% autoescape off %}        
        {% if message %}
        <p class="{{ message_class }}">{{ message }}</p>
        {% endif %}
    {% endautoescape %}
    <div class="col-md-10">
        {% if tossup %}
            {% autoescape off %}
                <p>Tossup Preview:</p>
                <p>{{ tossup.tossup_text|safe|question_html }}</p>
                <p>ANSWER: {{ tossup.tossup_answer|safe|answer_html }}</p>
                <p>Character count: {{ tossup.character_count }}</p>
            {% endautoescape %}
        {% endif %}
        
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if not read_only %}
            <input type="submit" id="submit-tossup" value="Save"/>
            {% endif %}
        </form>
    </div>

    {% if tossup %}
    <div class="col-md-10 alert alert-info" style="text-align: center"><strong>Comments</strong></div>
    <div class="comments col-md-6">
        {% autoescape off %}        
            {% get_comment_list for tossup as comment_list %}
            {% for comment in comment_list %}
                {% if not comment.is_removed %}
                    <strong>{{comment.user}}:</strong> {{ comment.comment|safe|comment_html }} ({{ comment.submit_date }})<br><br>
                {% endif %}
            {% endfor %}        
        {% endautoescape %}
        
        {% get_comment_form for tossup as cform %}
        <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ cform.comment.label_tag }}
            <textarea cols="40" rows="10" id="{{ cform.comment.id_for_label }}"
                      name="{{ cform.comment.html_name }}" class="form-control">
            </textarea>
            {{ cform.honeypot }}
            {{ cform.content_type }}
            {{ cform.object_pk }}
            {{ cform.timestamp }}
            {{ cform.security_hash }}
            <input type="submit" name="submit" value="Post" class="btn btn-primary">
            <input type="hidden" name="next" value="/edit_tossup/{{ tossup.id }}/">
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
