{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% load static %}
{% load comments %}
{% load filters %}

{% block title %}{% if bonus %}{{ bonus.part1_answer|answer_no_formatting|short_preview }}{% else %}Edit Bonus{% endif %} - QEMS2{% endblock %}

{% block content %}

<h3 class="page-header">Edit Bonus</h3>
{% autoescape off %}
    {% if message %}
        <div class="{{ message_class }}">{{ message }}</div>
    {% endif %}
    {% if bonus %}
        <div class="panel callout radius">
        {{ bonus|bonus_html_verbose }}
            <p><strong>Written by:</strong> {{ bonus.author }} on {{ bonus.created_date }}<br />
            <strong>Last modified:</strong> {{ bonus.last_changed_date }}<br />
            {% if bonus.edited %}
                <strong>Edited by:</strong> {{ bonus.editor }} on {{ bonus.edited_date }}
            {% endif %}</p>
        </div>
    {% endif %}
{% endautoescape %}

<form action="" method="post" class="clearfix">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% if not read_only %}
        {% if question_type == "ACF-style bonus" %}
            <label>
                Leadin
                {{ form.leadin }}
            </label>
            {% if form.leadin.errors %}{{ form.leadin.errors }}{% endif %}
        {% endif %}
        <label>
            Part 1 Text
            {{ form.part1_text }}
            {% if form.part1_text.errors %}{{ form.part1_text.errors }}{% endif %}
        </label>
        <label>
            Part 1 Answer
            {{ form.part1_answer }}
            {% if form.part1_answer.errors %}{{ form.part1_answer.errors }}{% endif %}
        </label>

        {% if question_type == "ACF-style bonus" %}
            <label>
                Part 2 Text
                {{ form.part2_text }}
                {% if form.part2_text.errors %}{{ form.part2_text.errors }}{% endif %}
            </label>
            <label>
                Part 2 Answer
                {{ form.part2_answer }}
                {% if form.part2_answer.errors %}{{ form.part2_answer.errors }}{% endif %}
            </label>
            <label>
                Part 3 Text
                {{ form.part3_text }}
                {% if form.part3_text.errors %}{{ form.part3_text.errors }}{% endif %}
            </label>
            <label>
                Part 3 Answer
                {{ form.part3_answer }}
                {% if form.part3_answer.errors %}{{ form.part3_answer.errors }}{% endif %}
            </label> 
        {% endif %}
        <div class="row">
        {% for field in form %}
            {% if field.html_name == "category" or field.html_name == "author" %}
                <div class="small-6 columns">
                    <div class="row collapse">
                        <div class="small-4 columns">
                            <span class="prefix text-left" for="{{ field.id_for_label }}">{% if field.html_name == "category" %}Category{% else %}Author{% endif %}</span>
                        </div>
                        <div class="small-8 columns">
                            {{ field }}
                        </div>
                    </div>
                </div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <div class="row">
            <!--<div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="form.question_type.id_for_label">Question Type</span>
                    </div>
                    <div class="small-8 columns">
                        {{ form.question_type }}
                    </div>
                    {% if form.question_type.errors %}{{ form.question_type.errors }}{% endif %}
                </div>
            </div>-->
            <div class="small-6 columns end">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="form.packet.id_for_label">Packet</span>
                    </div>
                    <div class="small-8 columns">
                        {{ form.packet }}
                    </div>
                    {% if form.packet.errors %}{{ form.packet.errors }}{% endif %}
                </div>
            </div>
            {% if role == "editor" %}
                <div class="small-6 columns">
                    {{ form.locked }}
                    <label>Locked</label>
                    {% if form.locked.errors %}{{ form.locked.errors }}{% endif %}
                    {{ form.edited }}
                    <label>Edited</label>
                    {% if form.edited.errors %}{{ form.edited.errors }}{% endif %}
                </div>
            {% endif %}
        </div>

        <div class="fieldWrapper">
            {{ form.question_type.errors }}
            {{ form.question_type }}
        </div>

        <input type="submit" id="submit-bonus" value="Save" class="button primary right" />
    {% endif %}
</form>
{% if bonus %}
    <ul class="button-group even">
        <li><a href="/move_bonus/{{ qset.id }}/{{ bonus.id }}" class="button primary">Move to another set</a></li>
        <li><a href="/bonus_history/{{ bonus.id }}" class="button primary">View bonus history</a></li>
        <li><a href="/delete_bonus/{{ bonus.id }}" class="button primary delete_bonus" value="{{ bonus.id }}" qset-id="{{ qset.id }}">Delete question</a></li>
        <li><a href="/convert_bonus/{{ bonus.id }}" class="button primary convert_bonus" value="{{ bonus.id }}" qset-id="{{ qset.id }}" target-type="ACF-style tossup">Convert to ACF tossup</a></li>
        {% if question_type == "ACF-style bonus" %}
            <li><a href="/convert_bonus/{{ bonus.id }}" class="button primary convert_bonus" value="{{ bonus.id }}" qset-id="{{ qset.id }}" target-type="VHSL bonus">Convert to VHSL bonus</a></li>
        {% endif %}
        {% if question_type == "VHSL bonus" %}
            <li><a href="/convert_bonus/{{ bonus.id }}" class="button primary convert_bonus" value="{{ bonus.id }}" qset-id="{{ qset.id }}" target-type="ACF-style bonus">Convert to ACF bonus</a></li>
        {% endif %}
    </ul>
{% endif %}

{% if bonus %}
<div class="panel callout radius text-center"><strong>Comments</strong></div>
<div class="row">
    <div class="small-6 columns end comments">
        {% autoescape off %}
            {% get_comment_list for bonus as comment_list %}
            {% for comment in comment_list %}
                {% if not comment.is_removed %}
                    <strong>{{comment.user}}:</strong> {{ comment.comment|safe|comment_html }} ({{ comment.submit_date }})<br><br>
                    {% if role == "editor" %}
                        <a href="/delete_comment/{{ comment.id }}" class="delete_comment" value="{{ comment.id }}" qset="{{ qset.id }}">Delete Comment</a><br><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endautoescape %}

        {% get_comment_form for bonus as cform %}
        <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            <label>Comment
                <textarea rows="5" id="{{ cform.comment.id_for_label }}" name="{{ cform.comment.html_name }}"></textarea>
            </label>
            {{ cform.content_type }}
            {{ cform.object_pk }}
            {{ cform.timestamp }}
            {{ cform.security_hash }}
            <input type="submit" name="submit" value="Post" class="button primary right">
            <input type="hidden" name="next" value="/edit_bonus/{{ bonus.id }}/">
        </form>
    </div>
</div>
{% endif %}

{% include "dialog.html" %}

{% endblock %}
