{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Edit Distribution - QEMS2{% endblock %}

{% block content %}
{% load static %}

{% if formset.total_error_count > 0 %}
    <div class="alert-box error">
        Errors in your form! All question numbers are required!
    </div>
{% endif %}

<h3 class="page-header">Question Sets</h3>
{% if message %}
    <div class="{{ message_class }}">{{ message }}</div>
{% endif %}
<div class="alert-box info">All question numbers are required and are per packet.</div>
<form action="" method="post">
    {% csrf_token %}
    <div class="row collapse">
        <div class="small-3 columns">
            <span class="prefix text-left" for="{{ form.name.id_for_label }}">Distribution Name</span>
        </div>
        <div class="small-9 columns">
            {{ form.name }}
        </div>
        {% if form.name.errors %}
            {{ form.name.errors }}
        {% endif %}
    </div>
    <table class="table-striped table-hover" id="distribution-table">
        <thead>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Minimum Tossups</th>
        <th>Minimum Bonuses</th>
        <th>Maximum Tossups</th>
        <th>Maximum Bonuses</th>
        {% if formset.can_delete %}
            <th>Delete?</th>
        {% endif %}
        </thead>
        <tbody>
        {% for entry in formset %}
        <tr>
            {{ entry.entry_id }}
            <td>{{ entry.category }}</td>
            <td>{{ entry.subcategory }}</td>
            <td>{{ entry.min_tossups }}</td>
            <td>{{ entry.min_bonuses }}</td>
            <td>{{ entry.max_tossups }}</td>
            <td>{{ entry.max_bonuses }}</td>
            {% if formset.can_delete %}
                <td>{{ entry.DELETE }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ formset.management_form }}
    <div class="row">
        <div class="small-6 columns">
            <div class="row">
                <div class="small-4 columns">
                    <a href="#" id="add-rows" class="button secondary left"><i class="fa fa-plus-circle"></i> Add Rows</a>
                </div>
                <div class="small-2 columns end">
                    <input type="number" id="num-rows" />
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <input type="submit" value="Submit Changes" class="button primary right" />
        </div>
    </div>
</form>

{% endblock %}
