<div id="examples" class="content">
    <h4>Example Tossup:</h4>
    <p>The only man from the House of Hesse to hold this title gained the throne when his wife abdicated in his favor in 1715; that man nominally ruled during the so-called Age of Freedom and was named Frederick I. A man who tried to hold this title simultaneously with King of Poland and Lithuania lost the title in 1599 due to his Catholicism. That man in this position was Sigismund, who was a member of the (*) Vasa Dynasty started by the “father of the nation” who broke his country away from the Kalmar Union. Another man to hold this title saw his country’s army defeated in the Battle of Poltava, part of the Great Northern War. For 10 points, give this title held by monarchs like Charles XII and Gustavus Adolphus.<br />
    ANSWER: _King_ of _Sweden_ [accept equivalents; prompt on __king__; do not accept "King of the Kalmar Union"] {History - European}</p>
    <h4>Example ACF Bonus:</h4>
    <p>A recurring character in this play is the herald Talthybius, who bears the crushed body of Astyanax on his father’s shield. For 10 points each:<br />
    [10] Identify this play that ends as Andromache, Hecuba, Cassandra, and Helen are led onto Greek ships.<br />
    ANSWER: ~_The Trojan Women_~ [or ~_Troiades_~ (TROY-ad-ees)]<br />
    [10] ~The Trojan Women~ was written by this ancient Greek playwright who also wrote ~Medea~, ~Alcestis~, and ~Cyclops~, the only extant complete satyr play.<br />
    ANSWER: _Euripides_<br />
    [10] Euripides and Aeschylus (ESS-cul-es) engage in a contest to determine which is the best tragic poet in this play, which opens as Dionysus and his slave Xanthias travel to Hades to fetch Euripides.<br />
    ANSWER: ~_The Frogs~_ [or ~_Batrachoi_~] {Literature - European}<br />
    <h4>Example VHSL Bonus:</h4>
    <p>[V10] Name the character from ~Their Eyes Were Watching God~ who shoots her husband Tea Cake after he develops rabies.<br />
    ANSWER: _Janie_ Crawford [or Janie _Crawford_] {Literature - American}</p>
</div>
