{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block title %}Export Question Set - QEMS2{% endblock %}

{% load filters %}
{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 text-left">
    <h2 class="page-header">Export Question Set</h2>
    {% if message %}
    <div class="{{ message_class }}">
        {{ message }}
    </div>
    {% endif %}
</div>

{% endblock %}
