<div id="guidelines" class="content">
    <h4>Formatting Guide</h4>
    <p><strong><u>Answers</u></strong> should be wrapped with _underscores_.</p>
    <p><u>Prompts</u> should be wrapped with __double underscores__.</p>
    <p><i>Italicize</i> titles by using ~tildes~.</p>
    <p><strong>Pronunciation guides</strong> use (parentheses), unless the parentheses are escaped with \(backslahses\).</p>
    <p><sub>Superscripts</sub> follow the format \SMy Superscript Text\S.</p>
    <p><sup>Subscripts</sup> follow the format \sMy subscript text\s.</p>
    <p><strong>Powers</strong> end with (*).</p>
</div>
