{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'css/signin.css' %}">

<script type="text/javascript" href="{% static 'jquery/src/jquery.js' %}"></script>
<script type="text/javascript" href="{% static 'jquery-ui/jquery-ui.js' %}"></script>
<script type="text/javascript" href="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>