<html>
  <body>
    <div class='topbar' name='topbar' id='topbar'>
      <h1 style="font-family:Verdana,Geneva,sans-serif; font-weight:bold; display:inline; vertical-align:middle">
	<a href='index.php' style="text-decoration:none; color:#fff8a0;">WUStL</a>
      </h1>
      (<a href='about.php' style='color:black;'>About</a>)
      <div class='visitorcontent' name='login' id='login' style="float:right; width:auto; border:none; vertical-align:middle; ">
	<form action='login.php' method='post' id='loginform' style="display:inline; float:left;">
	  <label for='username' style="vertical-align:middle;" >Username: </label>
	  <input type='text' name='username' id='username' style="vertical-align:middle;" />
	  <label for='password' style="vertical-align:middle;" >Password: </label>
	  <input type='password' name='password' id='password' style="vertical-align:middle;" />
	  <input type='submit' id='submit' name='submit' value='Login' style="vertical-align:middle;" />
	</form>
	(<a href='index.php' style='color:black;'>Create Account</a>)
      </div>
      <div class='usercontent' name='greeting' id='greeting' style="float:right; border:none; vertical-align:middle; width:auto;">
	<script type='text/javascript'>
	  document.write("Welcome, " + firstname + "! ");
	</script>
	(<a href='account-management.php' style='color:black;'>My Account</a>) (<a href='logout.php' style='color:black;'>Log Out</a>)
      </div>
    </div>
    <div class='banner' name='banner' id='banner'>
      <br clear='both' /><h1>WUStL Updates Statistics Live!</h1>
    </div>
  </body>
</html>
