{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% load comments %}
{% load filters %}

{% block title %}Move Tossup - QEMS2{% endblock %}

{% block content %}

<h3 class="page-header">Move Tossup</h3>
{% if message %}
<div class="{{ message_class }}">
    {{ message }}
</div>
{% endif %}

{% if tossup %}
    {% autoescape off %}
        {{ tossup|tossup_html }}
    {% endautoescape %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <p class="alert alert-danger">Move to Set: {{field }}</p>
        {% endfor %}
        <input type="submit" id="move-tossup" value="Move"/>
    </form>
{% endif %}

{% endblock %}