<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/packetedit/{{ packet.id }}">{{ packet.team.team_name }}</a>
			<ul class="nav" role="navigation">
				<li class="dropdown">
					<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">View questions</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="/questionview/tossup/{{ packet.id }}">View tossups</a>
						</li>
						<li>
							<a href="/questionview/bonus/{{ packet.id }}">View bonuses</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Add questions</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="/addquestion/tossup/{{ packet.id }}">Add tossups</a>
						</li>
						<li>
							<a href="/addquestion/bonus/{{ packet.id }}">Add bonuses</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>