{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Profile - QEMS2{% endblock %}

{% block content %}
<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
    <h3 class="page-header">Profile for {{ user.username }}</h3>
    <p class="alert alert-info">
        You can change your profile information here, except your username.
    </p>
    {% if message %}
    <p class="{{ message_class }}">{{ message }}</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>To change your password, use <a href="/password_change/">this form</a>.</p>
        <input type="submit" value="Update" class="btn btn-primary">
    </form>
</div>
{% endblock %}
