{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Profile - QEMS2{% endblock %}

{% block content %}

<h3 class="page-header">Profile for {{ user.user.first_name }} {{ user.user.last_name }}</h3>
<div data-alert class="alert-box info">You can change your profile information here, except for your username. To change your password, <a href="/password_change/">use this form</a>.</div>
{% if message %}
    <p class="{{ message_class }}">{{ message }}</p>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
    {% for field in form %}
        {% if field.html_name == "username" or field.html_name == "email" %}
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="{{ field.id_for_label }}">{% if field.html_name == "username" %}Username{% else %}E-mail{% endif %}</span>
                    </div>
                    <div class="small-8 columns">
                        {{ field }}
                    </div>
                </div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="row">
    {% for field in form %}
        {% if field.html_name == "first_name" or field.html_name == "last_name" %}
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix text-left" for="{{ field.id_for_label }}">{% if field.html_name == "first_name" %}First Name{% else %}Last Name{% endif %}</span>
                    </div>
                    <div class="small-8 columns">
                        {{ field }}
                    </div>
                </div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <div class="row">
        <div class="small-6 small-offset-6 columns">
            {{ form.send_mail_on_comments }}
            <label>Send Mail on Comments?</label>
        </div>
    </div>
    <input type="submit" value="Update" class="button primary right" />
</form>

{% endblock %}
