{% extends "base.html" %}

{% block header %}
	<h1>school information</h1>
{% endblock %}

{% block content %}


	<form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      
      {% if not read_only %}
      	<input type="submit" value="Submit changes"/>
      {% endif %}
    </form>
    {% if message %}
    	<p>
    		<div class="alert {{ message_class }}">
    			{{ message }}
    		</div>
    	</p>
    {% endif %}
    <hr>

<input type="hidden" id="tour_id" value={{ school_id }} />
{% endblock %}
