<ul class="button-group even">
    <li><a href="/add_tossups/{{ qset.id }}" class="button primary"><i class="fa fa-plus-circle"></i> Tossup</a></li>
    <li><a href="/add_bonuses/{{ qset.id }}/ACF-style bonus" class="button primary"><i class="fa fa-plus-circle"></i> Bonus</a></li>
    <li><a href="/type_questions/{{ qset.id }}" class="button primary"><i class="fa fa-file-text"></i> Type Questions</a></li>
    <li><a href="/view_all_questions/{{ qset.id }}/" class="button primary"><i class="fa fa-ellipsis-h"></i> All Questions</a></li>
    <li><a href="/view_all_comments/{{ qset.id }}/" class="button primary"><i class="fa fa-comments"></i> All Comments</a></li>    
    <li><a href="/search/{{ qset.id }}/" class="button primary"><i class="fa fa-search"></i> Search</a></li>
</ul>
