{% extends "base.html" %}

{% block header %}
	<h1>team view</h1>
{% endblock %}

{% block content %}

	<div class="tabbable">
		<ul class="nav nav-tabs">
			{% for team_type in team_list %}
			<li {% if forloop.first %} class="active" {% endif %}>
				<a href="#{{ team_type.id }}" data-toggle="tab">{{ team_type.header }}</a>
			</li>
			{% endfor %}
		</ul>
		
		<div class="tab-content">
			{% for team_type in team_list %}
			<div class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ team_type.id }}">
				{% if forloop.first %}
				<a href="/teamadd/" class="btn btn-primary" title="Create new team">
					<i class="icon-plus"></i> Create new team
				</a>
				{% endif %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Team name</th>
							<th>Tournament name</th>
							<th>Tournament date</th>
						</tr>
					</thead>
					<tbody>
					{% for team in team_type.teams %}
						<tr>
							<td>
								<a href="/teamedit/{{ team.id }}/">{{ team.team_name }}</a>
							</td>
							<td>{{ team.tournament }}</td>
							<td>{{ team.tournament.date }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			{% endfor %}
		</div>
	</div>

	<!--<a href="/teamadd/"><img src="/static/images/icons/without-shadows/plus-24-ns.png" 
		alt="Create a new team" title="Create a new team"></a>
	{% for team_type in team_list %}
		<p>	
			{{ team_type.header }}
		</p>
		{% for team in team_type.teams %}
			<p>
				<a class="button-link" href="/teamedit/{{ team.id }}/">
				{{ team.team_name }}</a>, {{ team.tournament }}
			</p>
		{% endfor %}
	{% endfor %}-->

{% endblock %}