{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}{Title} - QEMS2{% endblock %}

{% block content %}
{% load static %}

<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 main">
    <h3 class="page-header">{Title}</h3>

    <div class="tabbable">
        <ul class="nav nav-tabs nav-justified">
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>

        <div class="tab-content">
            <div id="" class="tab-pane active">
            </div>
            <div id="" class="tab-pane">
            </div>
        </div>
    </div>
</div>
