{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% load filters %}

{% block title %}Type Question Preview - QEMS2{% endblock %}

{% block content %}

<h3 class="page-header">Upload Preview</h3>
{% if message %}
<div class="{{ message_class }}">
    {{ message }}
</div>

{% endif %}
<form action="/complete_upload/" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="small-10 small-centered columns">
            {% if tossup_errors %}
            {% for tu_error in tossup_errors %}
            <div class="alert alert-danger">
                {{ tu_error|safe }}
            </div>
            {% endfor %}
            {% endif %}

            {% if bonus_errors %}
            {% for bs_error in bonus_errors %}
            <div class="alert alert-danger">
                {{ bs_error|safe }}
            </div>
            {% endfor %}
            {% endif %}

            <h4>Submitted Tossups</h4>
            {% autoescape off %}
                {% for tossup in tossups %}
                <p>{{ tossup.tossup_text|safe|question_html }}<br>
                    {{ tossup.tossup_answer|safe|answer_html }} 
                    {% if tossup.category != '' %}
                        &#123;{{ tossup.category|safe}}&#125;
                    {% endif %}<br>
                    Type: {{ tossup.question_type|safe}}
                </p>
                <input type="hidden" name="tossup-text-{{ forloop.counter0 }}" value="{{ tossup.tossup_text|safe }}">
                <input type="hidden" name="tossup-answer-{{ forloop.counter0 }}" value="{{ tossup.tossup_answer|safe }}"> 
                <input type="hidden" name="tossup-category-{{ forloop.counter0 }}" value="{{ tossup.category }}">                
                <input type="hidden" name="tossup-type-{{ forloop.counter0 }}" value="{{ tossup.question_type|safe }}">  
                {% endfor %}
            {% endautoescape %}

            <h4>Submitted Bonuses</h4>
            {% autoescape off %}
                {% for bonus in bonuses %}
                {{ bonus|bonus_html_verbose }}
                

                <input type="hidden" name="bonus-leadin-{{ forloop.counter0 }}" value="{{ bonus.leadin|safe }}">
                <input type="hidden" name="bonus-category-{{ forloop.counter0 }}" value="{{ bonus.category }}">
                <input type="hidden" name="bonus-type-{{ forloop.counter0 }}" value="{{ bonus.question_type|safe }}">            
                <input type="hidden" name="bonus-part1-{{ forloop.counter0 }}" value="{{ bonus.part1_text|safe }}">
                <input type="hidden" name="bonus-answer1-{{ forloop.counter0 }}" value="{{ bonus.part1_answer|safe }}">
                <input type="hidden" name="bonus-part2-{{ forloop.counter0 }}" value="{{ bonus.part2_text|safe }}">
                <input type="hidden" name="bonus-answer2-{{ forloop.counter0 }}" value="{{ bonus.part2_answer|safe }}">
                <input type="hidden" name="bonus-part3-{{ forloop.counter0 }}" value="{{ bonus.part3_text|safe }}">
                <input type="hidden" name="bonus-answer3-{{ forloop.counter0 }}" value="{{ bonus.part3_answer|safe }}">

                {% endfor %}
            {% endautoescape %}

            <input type="hidden" name="num-tossups" value="{{ tossups|length }}" />
            <input type="hidden" name="num-bonuses" value="{{ bonuses|length }}" />
            <input type="hidden" name="qset-id" value="{{ qset.id }}" />
            <ul class="button-group right">
                <li><input type="submit" class="button primary" value="Submit" /></li>
                <li><a href="/edit_question_set/{{ qset.id }}" class="button primary">Cancel</a></li>
            </ul>
        </div>
    </div>
</form>

{% endblock %}