{% extends "base.html" %}
{% load cache %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% load static %}
{% load filters %}
{% load comments %}

{% cache 500 allquestions qset %}

    {% block title %}{% if qset %}{{ qset.name }} - All Questions - QEMS2{% else %}All Questions - QEMS2{% endif %}{% endblock %}

    {% block content %}

    <p><a href="#bonuses">Jump to bonuses</a></p>
    <div id="tossups">
        <div class="panel header radius text-center"><strong>Tossups</strong></div>
        <table class="tablesorter table-striped table-hover" id="all-questions-tossup-table">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Preview</th>
                    <th>Answer</th>
                    <th>Question Type</th>
                    <th>Category</th>
                    <th>Length</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Edited</th>
                    <th>Comments</th>
                    <th>Last Comment</th>
                </tr>
            </thead>
            <tbody>
            {% autoescape off %}
                {% for tossup in tossups %}
                <tr>
                    <td>{{ tossup.author }}</td>
                    <td><a href="/edit_tossup/{{ tossup.id }}">{{ tossup.tossup_text|safe|preview|question_html }}</a></td>
                    <td><a href="/edit_tossup/{{ tossup.id }}">{{ tossup|tossup_answer }}</a></td>
                    <td>Tossup</td>
                    <td><a href="/categories/{{ qset.id }}/{{ tossup.category.id }}">{{ tossup.category }}</a></td>
                    <td>{{ tossup.question_length }}</td>
                    <td>{{ tossup.created_date|to_short_datetime }}</td>
                    <td>{{ tossup.last_changed_date|to_short_datetime }}</td>
                    <td>{% if tossup.edited_date %} {{ tossup.edited_date|to_short_datetime }} {% endif %}</td>
                    <td>
                    {% get_comment_list for tossup as comment_list %}
                    {% for comment in comment_list %}
                        {% if not comment.is_removed %}
                            <strong>{{comment.user}}:</strong> {{ comment.comment|preview|comment_html }}<br>
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td>{{ tossup|tossup_last_comment_date|to_short_datetime }}</td>
                </tr>
                {% endfor %}
            {% endautoescape %}
            </tbody>
        </table>
    </div>

    <p><a href="#tossups">Jump to tossups</a></p>
    <div id="bonuses">
        <div class="panel header radius text-center"><strong>Bonuses</strong></div>
        <table class="tablesorter table-striped table-hover" id="all-questions-bonus-table">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Preview</th>
                    <th>Answer</th>
                    <th>Question Type</th>
                    <th>Category</th>
                    <th>Length</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Edited</th>
                    <th>Comments</th>
                    <th>Last Comment</th>
                </tr>
            </thead>
            <tbody>
            {% autoescape off %}
                {% for bonus in bonuses %}
                <tr>
                    <td>{{ bonus.author }}</td>
                    <td><a href="/edit_bonus/{{ bonus.id }}/">{{ bonus|bonus_leadin }}</a></td>
                    <td><a href="/edit_bonus/{{ bonus.id }}/">{{ bonus|bonus_answers }}</a></td>
                    <td>Bonus</td>
                    <td><a href="/categories/{{ qset.id }}/{{ bonus.category.id }}">{{ bonus.category }}</a></td>
                    <td>{{ bonus.question_length }}</td>
                    <td>{{ bonus.created_date|to_short_datetime }}</td>
                    <td>{{ bonus.last_changed_date|to_short_datetime }}</td>
                    <td>{% if bonus.edited_date %} {{ bonus.edited_date|to_short_datetime }} {% endif %}</td>
                    <td>
                    {% get_comment_list for bonus as comment_list %}
                    {% for comment in comment_list %}
                        {% if not comment.is_removed %}
                            <strong>{{comment.user}}:</strong> {{ comment.comment|preview|comment_html }}<br>
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td>{{ bonus|bonus_last_comment_date|to_short_datetime }}</td>
                </tr>
                {% endfor %}
            {% endautoescape %}
            </tbody>
        </table>
    </div>

    <p><a href="#tossups">Jump to tossups</a></p>
    <p><a href="#bonuses">Jump to bonuses</a></p>


    {% endblock %}
    
{% endcache %}

