/* Global overrides */

body {
    background-color:#f8f8ff;
    padding-top:40px;
}
p {
    font-size:0.875rem;
    line-height:1.5;
    margin:0.5rem;
}
.page-header {
    margin:24px 0 20px;
    border-bottom:1px solid #ddd;
}
.fa-check {
    color:green;
}
.fa-times {
    color:red;
}
.button-group.even {
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.button-group.even li {
    flex-grow:1;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:0;
}
.button-group.even li a {
    flex-grow:1;
}
.button-group.even li input {
    flex-grow:1;
}
.button {
    font-size:0.8125rem;
    padding-top:0.875rem;
    padding-right:1.5rem;
    padding-bottom:0.9125rem;
    padding-left:1.5rem;
}
.tabs {
    display:flex;
    flex-direction:row;
    justify-content:center;
    border-bottom:1px solid #ddd;
}
.tabs dd {
    flex-grow:1;
    align-items:baseline;
}
.tabs dd a {
    font-size:0.875rem;
    text-align:center;
}
.panel.callout {
    background-color:#b6edff;
    margin-bottom:0.625rem;
    padding:0.625rem;
}
.panel.callout > strong {
    font-size:0.84375rem;
    line-height:0.84375rem;
}
.progress.edit-qset {
    background-color: #f8f8ff;
    border:1px solid #f8f8ff;
    padding:0;
}
span.prefix.text-left {
    padding-left:1rem;
}
.label {
    font-size:0.75rem;
}
#id_honeypot {
    display:none;
}
.ui-helper-hidden-accessible {
    font-size:0.75rem;
}
/* Tables */
.tablesorter {
    margin:5px 0 5px;
    width:100%;
    text-align:left;
}
.tablesorter thead tr th,
.tablesorter tfoot tr th {
    background-color:#bbb;
    border:1px solid #f8f8ff;
    border-top:0;
    border-bottom:0;
    font-size:0.75rem;
    padding:6px 20px 6px 3px;
}
.accordion table thead tr th,
.accordion table tfoot tr th {
    border:1px solid #fff;
    border-top:0;
    border-bottom:0;
}
.tablesorter thead tr .header {
    background-image:url(../images/blueskin/bg.gif);
    background-repeat:no-repeat;
    background-position:center right;
    cursor:pointer;
}
.tablesorter thead tr .headerSortUp {
    background-image:url(../images/blueskin/asc.gif);
}
.tablesorter thead tr .headerSortDown {
    background-image:url(../images/blueskin/desc.gif);
}
.tablesorter thead tr .headerSortDown,
.tablesorter thead tr .headerSortUp {
    background-color:#8dbdd8;
}
.tablesorter tbody tr td {
    border:1px solid #f8f8ff;
    border-top:0;
    border-bottom:0;
    padding:4px 3px 4px;
    background-color:transparent;
    vertical-align:top;
    font-size:0.6875rem;
}
.accordion table tbody tr td {
    border:1px solid #fff;
    border-top:0;
    border-bottom:0;
}
.tablesorter tbody tr td a:hover,
.tablesorter tbody tr td a:focus {
    text-decoration:none;
}
.table-hover tbody tr.even:hover td,
.table-hover tbody tr:nth-child(even):hover td,
.table-hover tbody tr:hover td {
    background-color:#a0c5e4;
}
.table-striped tbody tr.even td,
.table-striped tbody tr:nth-child(even) td {
    background-color:#ddd;
}
#packet-status-tossup-table tbody tr td,
#packet-status-bonus-table tbody tr td {
    width:25%;
}
#distribution-table input {
    height:2rem;
    font-size:0.75rem;
    margin:0;
    padding:0.5rem;
}
#distribution-table input.spinner {
    padding:0.625rem;
}
#set-wide-reqs-table tbody tr td,
#tb-reqs-table tbody tr td {
    vertical-align:middle;
}
#set-wide-reqs-table input.spinner,
#tb-reqs-table input.spinner {
    height:2rem;
    font-size:0.75rem;
    margin:0;
    padding:0.625rem;
}