/* Global overrides */

/*div#container {
    margin: 5px;
    position: relative;
    left: 250px;
    width: 800px;
}

div#content {
    padding: 10px;
    margin-top: 75px;
    width: 70%;
    position: absolute;
    background-color: #e0e0e0;
}*/

body {
    padding-top:50px;
    background-color:#fcfcfc;
}
.form-standard {
    max-width:660px;
    padding:15px;
    margin:0 auto;
}
.alert {
    margin:5px 0 5px;
    padding:8px;
    font-size:0.9em;
}
.page-header {
    margin:24px 0 20px;
}
.fa-check {
    color:green;
}
.fa-times {
    color:red;
}

/* Tables */
.tablesorter {
    margin:5px 0 5px;
    font-size:0.8em;
    width:100%;
    text-align:left;
}
.tablesorter thead tr th,
.tablesorter tfoot tr th {
    background-color:#bbb;
    border:2px solid #fcfcfc;
    font-size:1em;
    padding:6px 20px 6px 3px;
}
.tablesorter thead tr .header {
    background-image:url(../images/blueskin/bg.gif);
    background-repeat:no-repeat;
    background-position:center right;
    cursor:pointer;
}
.tablesorter thead tr .headerSortUp {
    background-image:url(../images/blueskin/asc.gif);
}
.tablesorter thead tr .headerSortDown {
    background-image:url(../images/blueskin/desc.gif);
}
.tablesorter thead tr .headerSortDown,
.tablesorter thead tr .headerSortUp {
    background-color:#8dbdd8;
}
.tablesorter tbody tr td {
    border-right:2px solid #fcfcfc;
    padding:4px 3px 4px;
    background-color:transparent;
    vertical-align:top;
}
.tablesorter tbody tr td a:hover,
.tablesorter tbody tr td a:focus {
    text-decoration:none;
}
.table-hover tbody tr.even:hover td,
.table-hover tbody tr:nth-child(even):hover td,
.table-hover tbody tr:hover td {
    background-color:#a0c5e4;
}
.table-striped tbody tr.even td,
.table-striped tbody tr:nth-child(even) td {
    background-color:#ddd;
}
#packet-status-tossup-table tbody tr td,
#packet-status-bonus-table tbody tr td {
    width:25%;
}
.over-char-limit {
    color: red;
    font-weight: bold;
}
