/* Stylesheet for header.html */

/* Changes default border. */
.navbar-fixed-top {
    height:50px;
    border-width:0 0 3px;
    border-color:#3b7db5;
}
/* Matches breadcrumb style to navbar-inverse. */
.navbar-inverse .breadcrumb {
    background-color:transparent;
    padding:15px 15px;
    margin-bottom:0px;
    border-radius:0px;
    float:left;
    font-size:1em;
}
.navbar-inverse .breadcrumb li a {
    color:#9d9d9d;
}
.navbar-inverse .breadcrumb li a:hover,
.navbar-inverse .breadcrumb li a:focus {
    color:#fff;
    text-decoration:none;
}
