/* Stylesheet for header.html */

.top-bar-section .breadcrumbs {
    background-color:transparent;
    border:0 none;
    padding:0 0.875rem 0;
}
.top-bar-section .breadcrumbs * a {
    color:#ccc;
    text-decoration:none;
    font-size: 0.75rem;
    line-height: 0.75rem;
}
.top-bar-section .breadcrumbs *.current a {
    color:#fff;
    cursor:pointer;
}
.top-bar-section .breadcrumbs *:before {
    margin:0 0.125rem;
}
.top-bar-section .breadcrumbs *:first-child:before {
    margin:0;
}
