{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% if form.errors %}
  <p class="error">shit done gone wrong</p>
{% endif %}

{% block content %}
	<div class="container">
		<form action="" method="post" class="form-signin">
			<legend>Login</legend>
			{% csrf_token %}
			<input type="text" class="form-control" placeholder="User name" required autofocus>
            <input type="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <a href="/register/" class="btn btn-lg btn-primary btn-block" role="button">Register</a>
		</form>
	</div>
{% endblock %}