{% extends "base-login.html" %}

{% block title %}Login - QEMS2{% endblock %}

{% block content %}

{% if form.errors %}
  <p class="error">There was an error logigng in.  Make sure that your username/password are correct and that your e-mail account has been verified.</p>
{% endif %}

<h3 class="page-header">Login</h3>
<form method="post" action=".">
    {% csrf_token %}
    {% for field in form %}
        <div class="row collapse">
            <div class="small-3 columns">
                <span class="prefix text-left" for="{{ field.id_for_label }}">{{ field.label }}</span>
            </div>
            <div class="small-9 columns">
                {{ field }}
            </div>
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Login" class="button primary right" />
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="row">
        <div class="small-12 columns">
            <ul class="button-group even">
                <li><a href="{% url 'auth_password_reset' %}" class="button secondary">Reset Password</a></li>
                <li><a href="{% url 'registration_register' %}" class="button secondary">Register</a></li>
            </ul>
        </div>
    </div>
</form>


{% endblock %}
