{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}Change Password - QEMS2{% endblock %}

{% block content %}

<h3 class="page-header">Change Password for {{ user.username }}</h3>
{% if message %}
    <p class="{{ message_class }}">{{ message }}</p>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="row collapse">
            <div class="small-3 columns">
                <span class="prefix text-left" for="{{ field.id_for_label }}">{{ field.label }}</span>
            </div>
            <div class="small-9 columns">
                {{ field }}
            </div>
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Update" class="button primary right">
</form>

{% endblock %}
