{% extends "base-login.html" %}

{% block title %}Create an Account - QEMS2{% endblock %}

{% block content %}

<h3 class="page-header small-below">Create an Account</h3>
<h3><small>All fields required.</small></h3>
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="row collapse">
            <div class="small-3 columns">
                <span class="prefix text-left" for="{{ field.id_for_label }}">{{ field.label }}</span>
            </div>
            <div class="small-9 columns">
                {{ field }}
            </div>
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        </div>
    {% endfor %}
    <input class="button primary right" type="submit" value="Register" />
</form>

{% endblock %}
